<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam's PayPal Checkout Testing Ground</title>
  </head>
  <body>
    <h1>Welcome to the PayPal Checkout Testing Ground</h1>
    <h2>Click a button below to view a corresponding integration-type and complete a checkout</h2>
    
    <a href="/standard"><button>Go to Standard Page</button></a>
    <a href="/3ds"><button>Go to 3DS Page</button></a>
    <a href="/fastlane"><button>Go to Fastlane Page</button></a>

    <h3>Check your browser console for logs!</h3>
  </body>
</html>
